<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <a routerLink="/helloWorldComponent"><button>INTERPOLATION - HelloWorlCompoment</button></a>
  <a routerLink="/propertyBindingComponent"><button>PROPERTY BINTING - PropertyBindingComponent</button></a>
  <a routerLink="/classBindingComponent"><button>CLASS, STYLE AND EVENT BINDING - ClassBindingComponent</button></a>
  <a routerLink="/twoWayBindingComponent"><button>TWO WAY BINDING - TwoWayBindingComponent</button></a>
  <a routerLink="/templateReferenceVariableComponent"><button>TEMPLATE REFERENCE VARIABLE - TemplateReferenceVariableComponent</button></a>
  <a routerLink="/structuralDirectivesComponent"><button>STRUCTURAL DIRECTIVES - StructuralDirectivesComponent</button></a>
  <a routerLink="/componentInteraction"><button>COMPONENT INTERACTION - ComponentInteractionComponent</button></a>
  <a routerLink="/usingServices"><button>USING SERVICES - EmployeeListComponent, EmployeeDetailListComponent</button></a>
  <a routerLink="/routingComponent"><button>ROUTING - RoutingComponent</button></a>
  <a routerLink="/routingAndNavigationComponent"><button>ROUTING AND NAVIGATION - RoutingAndNavigationComponent</button></a>
  <a routerLink="/ovoJePogresnoUnesenURL"><button>PAGE NOT FOUND - PageNotFoundComponent</button></a>
  <a routerLink="/templateDrivenFormComponent"><button>TEMPLATE DRIVEN FORM without Binding - TemplateDrivenFormComponent</button></a>
  <a routerLink="/templateDrivenFormBindingComponent"><button>TEMPLATE DRIVEN FORM with Binding - TemplateDrivenFormBindingComponent</button></a>
  <a routerLink="/templateDrivenFormValidationComponent"><button>TEMPLATE DRIVEN FORM with Binding, Validation and Error handling - TemplateDrivenFormValidationComponent</button></a>
  <a routerLink="/reactiveFormsComponent"><button>REACTIVE FORMS - ReactiveFormsComponent</button></a>
  <a routerLink="reactiveFormAndFormBuilderComponent"><button>REACTIVE FORMS AND FORM BUILDER SERVICES - ReactiveFormAndFormBuilderComponent</button></a>
  <a routerLink="reactiveFormAndValidationsComponent"><button>REACTIVE FORMS AND VALIDATIONS - ReactiveFormAndValidationsComponent</button></a><br/>
  <a routerLink="buildingApplicationComponent"><button>BUILDING APPLICATION - BuildingApplicationComponent</button></a>

</div>
<router-outlet></router-outlet>
<br/><br/>
<h2 [hidden]="isHiden">Example of Component interaction - message from child component: {{messageFromChild}}</h2>

<component-interaction 
  [hidden]="isHiden"
  [parentData]="messagefromParent"  
  (childEmiter)="messageFromChild=$event"></component-interaction>



