<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <a routerLink="/helloWorldComponent"><button>INTERPOLATION - HelloWorlCompoment</button></a><br/>
  <a routerLink="/propertyBindingComponent"><button>PROPERTY BINTING - PropertyBindingComponent</button></a><br/>
  <a routerLink="/classBindingComponent"><button>CLASS, STYLE AND EVENT BINDING - ClassBindingComponent</button></a><br/>
  <a routerLink="/twoWayBindingComponent"><button>TWO WAY BINDING - TwoWayBindingComponent</button></a><br/>
  <a routerLink="/templateReferenceVariableComponent"><button>TEMPLATE REFERENCE VARIABLE - TemplateReferenceVariableComponent</button></a><br/>
  <a routerLink="/structuralDirectivesComponent"><button>STRUCTURAL DIRECTIVES - StructuralDirectivesComponent</button></a><br/>
  <a routerLink="/componentInteraction"><button>COMPONENT INTERACTION - ComponentInteractionComponent</button></a><br/>
  <a routerLink="/usingServices"><button>USING SERVICES - EmployeeListComponent, EmployeeDetailListComponent</button></a><br/>
  <a routerLink="/routingComponent"><button>ROUTING - RoutingComponent</button></a><br/>
  <a routerLink="/routingAndNavigationComponent"><button>ROUTING AND NAVIGATION - RoutingAndNavigationComponent</button></a><br/>
  <a routerLink="/ovoJePogresnoUnesenURL"><button>PAGE NOT FOUND - PageNotFoundComponent</button></a><br/>
  
</div>
<router-outlet></router-outlet>
<br/><br/>
<h2>Example of Component interaction - message from child component: {{messageFromChild}}</h2>

<component-interaction [parentData]="messagefromParent"  (childEmiter)="messageFromChild=$event"></component-interaction>
